.full-screen-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.full-screen-image-wrapper img {
    max-width: 80%;
    max-height: 100%;
}

.leaflet-popup-content {
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
}

.footprint-without-image-icon {
    cursor: default;
}
