@font-face {
  font-family: "BlackOpsOne";
  src: url("/fonts/BlackOpsOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
